.container {
  display: block;
  justify-items: center;
  border: 3px
  ;
}
.view {
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  justify-content: center;
  text-align: center;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px cornflowerblue;
  position: relative;
  box-shadow: 0 0 5px 2px black;
  height: 300px;
  width: 500px;
  background-color: white;
  transform-style: preserve-3d;
  padding: 5px;
}

.create-card {
  display: list-item;
  display: table-column;
  max-width: min-content;
}

