.container {
  display: block;
  justify-items: center;
  ;
}
.view {
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  justify-content: center;
  text-align: center;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px cornflowerblue;
  position: relative;
  box-shadow: 0 0 5px 2px black;
  height: 300px;
  width: 500px;
  background-color: white;
  transform-style: preserve-3d;
  padding: 5px;
}
.text-box {
  
}
.create-card {
  display: list-item;
  display: table-column;
  max-width: min-content;
}

.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 5px 1px rgb(10, 1, 27);
  border-radius:  5px;
  width: 500px;
  background-color: #eee;

}
.breadcrumb a {
  display: block;
  text-decoration: none;
  padding: 10px 10px 10px 30px;
  float: left;
  color: blue;
}
.breadcrumb a+a::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}